<div>
    <h1>Hi Welcome Back</h1>
    <h3>Login Here</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <label for="email">Email</label>
            <input formControlName="email" required type="text">
            <label for="password">Password</label>
            <input formControlName="password" type="password">
        </div>
        <button>Submit</button>
    <br/>
        <span>Don't have an account?
            <a routerLink="/registration">Registration</a></span>
    </form>
    
</div>