<div class="container">
    <div class="header">
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a><br/>
      <a routerLink="/login" routerLinkActive="active">Login</a><br>
      <a routerLink="/registration" routerLinkActive="active">Registration</a><br/>
      <a routerLink="/events" routerLinkActive="active">Event</a><br/>
      <a routerLink="/searchEvent" routerLinkActive="active">Search</a><br/>
      <a routerLink="/eventsApproval" routerLinkActive="active">Approve Events</a><br/>
      <a routerLink="/detail" routerLinkActive="active">Event Detail</a><br/>
      <a routerLink="/organizerHome" routerLinkActive="active">Home Organizer</a>


    </nav>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>